
#map2 {
  height: 90%;
  width: 90%;
  margin: 20px 20px;
}
#juldayinfo{
    background-color:rgb(245,245,234);
    padding: 20px;
    border:1px solid black;
}
#juldayinfo2{
    background-color:rgb(245,245,234);
    padding: 20px;
    border:1px solid black;  
}

body {
	margin:0;
	padding:0;
	height:100%;
    }
    #container2 {
	min-height:100%;
	position:relative;
    }

    
    #bodyDiv {
	padding:10px;
	padding-bottom:10px;   /* Height of the footer */
    }
    #myfooter {
	width:100%;
	height:80px;   /* Height of the footer */
	background-color:rgb(245,245,234);
	text-align:center;
	clear: left;
    }
}
#juldaytext{
    padding:10px;
}



  .scaleNum{
  margin: 0px;
  padding: 0px 0px 13px 0px;
  }
 
  .scaleNum1{
  margin: 0px;
  padding:0px 0px 2px 0px;
  }

  #scaleNumDiv{
      padding:0px;
      
  float: left;
  width: 80px;
  }
  #colorRampDiv{
  padding: 0px;
  margin: 10px 0px 10px 0px;
  width: 45px;
  float: left;
  }
  #ndvidiv{
      float: left;
  }
    #preciplegend{
      clear: left;
  }