<html>
<head>
<script
     src="https://code.jquery.com/jquery-3.3.1.js"
     integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
       crossorigin="anonymous"></script> 
</head>
  <body>
    <div class="container">
      <div class="page-header">
	<h3>Downloads</h3> 
      </div>
    </div>
    <form action = "/download2" method = "GET">
 	  ndvi or qual:<br>
  	  <input type = "text" name = "ndviorqual" ><br>
	  rmd or tmd:<br>
  	  <input type = "text" name = "rmdortmd" ><br>
  	  <br>Timeframe (1-8, see options below)<br>
  	  <input type = "text"  name = "dlnum" ><br>
	  <input type ="submit">
    </form>

	<p><u>Current</u></p>
<p id='updatedates1' class='downloadable'><strong>1.</strong>   195-201 minus 188-194      2018</p>
<p id='updatedates2' class='downloadable'><strong>2.</strong>   188-194 minus 181-187      2018</p>
<p id='updatedates3' class='downloadable'><strong>3.</strong>   181-187 minus 174-180      2018</p>
<p id='updatedates4' class='downloadable'><strong>4.</strong>   174-180 minus 167-173      2018</p>
	<p><u>Historical</u></p>
<p id='updatedates5' class='downloadable'><strong>5.</strong>   217-223 minus 210-216      2017</p>
<p id='updatedates6' class='downloadable'><strong>6.</strong>   210-216 minus 203-209      2017</p>
<p id='updatedates7' class='downloadable'><strong>7.</strong>   203-209 minus 196-202      2017</p>
<p id='updatedates8' class='downloadable'><strong>8.</strong>   196-202 minus 189-195      2017</p>
   

</body>
</html>
