<html>
<head>
  <title>Buffelgrass homepage</title>
  <script src="lib/leaflet/leaflet.js"></script>
  <link rel="stylesheet" href="lib/leaflet/leaflet.css">
  <link rel="stylesheet" href="map.css">

</head>
<body>
	<form action = "/historical" method = "GET">
	Transparency:<br>
  	<input type = "text" placeholder = "0.0-1.0" name = "alpha" >
  	<input type ="submit">
  
</form>

<div id="map1"></div>
<p>Quality-Green=Good, Red=Bad</p>
<div id ="map2"></div>


<h5>Data available from the U.S. Geological Survey</h5>
<a href="https://pubs.usgs.gov/of/2010/1055/pdf/OF2010-1055.pdf">EMODIS DOCS</a>

</body>
<script>
  var myAlpha = <%- myAlpha %>;
</script>
<script type="text/javascript" src="maphist.js"></script>


</hmtl>
