<html>
<head>
  <title>Buffelgrass NDVI Viewer Homepage</title>
  <script src="lib/leaflet/leaflet.js"></script>
   <link rel="stylesheet" href="lib/leaflet/leaflet.css">
  <link rel="stylesheet" href="map.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script
     src="https://code.jquery.com/jquery-3.3.1.js"
     integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
       crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <div class="container">
      <div class="page-header">
	<h3>EMODIS NDVI Viewer</h3> 
      </div>
    </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
    <form action = "/" method = "GET">
 	  Opacity (0-1):<br>
  	  <input type = "text" name = "alpha" ><br>
  	  <br>Timeframe (1-8, see options below)<br>
  	  <input type = "text"  name = "picCode" ><br>
	  <input type ="submit">
    </form>
    </div>
    <div class="col-md-3">
      <div id = "juldayinfo">
	<p> All dates are in Day of Year format</p>
<p id='updatejulday'>Today is Day of Year 104</p>
<p id='updatep'>Precipitation data updated Day of Year 104</p>
	<P>Timeframe options(most recent first):</p>
	<p><u>Current</u></p>
<p id='updatedates1' class='downloadable'><strong>1.</strong>   97-103 minus 90-96      2018</p>
<p id='updatedates2' class='downloadable'><strong>2.</strong>   90-96 minus 83-89      2018</p>
<p id='updatedates3' class='downloadable'><strong>3.</strong>   83-89 minus 76-82      2018</p>
<p id='updatedates4' class='downloadable'><strong>4.</strong>   76-82 minus 69-75      2018</p>
	<p><u>Historical</u></p>
<p id='updatedates5' class='downloadable'><strong>5.</strong>   217-223 minus 210-216      2017</p>
<p id='updatedates6' class='downloadable'><strong>6.</strong>   210-216 minus 203-209      2017</p>
<p id='updatedates7' class='downloadable'><strong>7.</strong>   203-209 minus 196-202      2017</p>
<p id='updatedates8' class='downloadable'><strong>8.</strong>   196-202 minus 189-195      2017</p>
<a href="/download">Choose Data for Download</a>
      </div>
    </div>   
    <div class="col-md-6" >
      <div id="juldayinfo2">
      <p>EMODIS data are obtained as 7 day composites. This viewer subtracts one composite from the subsequent week. These calculations result in high values representing an increase in NDVI, negative values representing a decrease in NDVI, and zero representing no change. In the current symbology, red represents a decrease in NDVI, white represents small or no change, green represents an increase in NDVI, and blue represents a dramatic increase in NDVI. 
      </p>
      <p>NOAA AHPS precipitation data are displayed as 24-day totals. Values of 1.7 inches are displayed as white, with increasing values shown as blue. Entries in the legend represent the most recent day in the 24-day period.
	</p>
   </div>
       </div> 
  </div>  
  </div>

<div id="map2"></div>
<img src="colorpng.png">	
<div id="myfooter">
  <p>Data available from the U.S. Geological Survey</p>
  <a href="https://pubs.usgs.gov/of/2010/1055/pdf/OF2010-1055.pdf">EMODIS DOCS</a>	   
  </div>
  
</body>
<script>
  var myAlpha = <%- myAlpha %>;
  var picCode = <%- picCode %>;
</script>
<script type="text/javascript" src="map.js"></script>


</hmtl>
