<html>
<head>
  <title>Buffelgrass NDVI Viewer Homepage</title>
  <script src="lib/leaflet/leaflet.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
   <link rel="stylesheet" href="lib/leaflet/leaflet.css">
  <link rel="stylesheet" href="map.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script
     src="https://code.jquery.com/jquery-3.3.1.js"
     integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
       crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <div id="container2">
      <div id="bodyDiv">
    <div class="container">
      <div class="page-header">
	<h3>EMODIS NDVI Viewer</h3> 
      </div>
    </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h4>NDVI Raster</h4>
      <form action = "/" method = "GET">
 	  Opacity (0-1):<br>
  	  <input type = "text" name = "alpha" ><br>
  	  <br>Timeframe (1-8, see options at right)<br>
  	  <input type = "text"  name = "picCode" ><br>
	  <input type ="submit">
    </form>

	<br>
<h4>Show Graph at Location</h4>
<form action = "/graph" method = "GET">
 	  Latitude:<br>
  	  <input type = "text" name = "mylat" id="incominglat" value="None" ><br>
	  Longitude:<br>
  	  <input type = "text" name = "mylong" id="incominglong" value="None" ><br>
	  Day of Year:<br>
	  <input type = "text" name = "julDay" id="incomingjulday" value="None" ><br>
	  <input type ="submit">
</form>
<br>
<a href="/download">Choose Data for Download</a>
    </div>
    <div class="col-md-3">
      <div id = "juldayinfo">
	<p> All dates are in Day of Year format</p>
<p id='updatejulday'>Today is Day of Year 141</p>
<p id='updatep'>Precipitation data updated Day of Year 141</p>
	<P>Timeframe options(most recent first):</p>
	<p><u>Current</u></p>
<p id='updatedates1' class='downloadable'><strong>1.</strong>   134-140 minus 127-133      2018</p>
<p id='updatedates2' class='downloadable'><strong>2.</strong>   127-133 minus 120-126      2018</p>
<p id='updatedates3' class='downloadable'><strong>3.</strong>   120-126 minus 113-119      2018</p>
<p id='updatedates4' class='downloadable'><strong>4.</strong>   113-119 minus 106-112      2018</p>
	<p><u>Historical</u></p>
<p id='updatedates5' class='downloadable'><strong>5.</strong>   217-223 minus 210-216      2017</p>
<p id='updatedates6' class='downloadable'><strong>6.</strong>   210-216 minus 203-209      2017</p>
<p id='updatedates7' class='downloadable'><strong>7.</strong>   203-209 minus 196-202      2017</p>
<p id='updatedates8' class='downloadable'><strong>8.</strong>   196-202 minus 189-195      2017</p>

      </div>
    </div>   
    <div class="col-md-6" >
      <div id="juldayinfo2">
      <p>EMODIS data are obtained as 7 day composites. This viewer subtracts one composite from the subsequent week. These calculations result in high values representing an increase in NDVI, negative values representing a decrease in NDVI, and zero representing no change. In the current symbology, red represents a decrease in NDVI, white represents small or no change, green represents an increase in NDVI, and blue represents a dramatic increase in NDVI. 
      </p>
      <p>NOAA AHPS precipitation data are displayed as 24-day totals. Values of 1.7 inches are displayed as white, with increasing values shown as blue. Entries in the legend represent the most recent day in the 24-day period.
	</p>
   </div>
       </div> 
  </div>  
  </div>

<div id="map2"></div>

<div id="ndvidiv">
  <h5>NDVI Legend</h5>

  <div id = "colorRampDiv">

    <svg id="svg1" height="250" width="50"></svg>
  </div>
  <div id="scaleNumDiv">
    <p id ="scale1" class="scaleNum1"></p>
    <p id ="scale2" class="scaleNum"></p>
    <p id ="scale3" class="scaleNum"></p>
    <p id ="scale4" class="scaleNum"></p>
    <p id ="scale5" class="scaleNum"></p>
    <p id ="scale6" class="scaleNum"></p>
    <p id ="scale7" class="scaleNum"></p>
    <p id ="scale8" class="scaleNum"></p>
  </div>
</div>
<div id="preciplegend">
 <a href="/legend">Precipitation Legend</a>

</div> 
    
    </div>
    <div id="myfooter">
  <p>NDVI data available from the U.S. Geological Survey  <a href="https://pubs.usgs.gov/of/2010/1055/pdf/OF2010-1055.pdf">EMODIS DOCS</a>
</p>
  <br>
  <p>Precipitation data available from NOAA  <a href="https://pubs.usgs.gov/of/2010/1055/pdf/OF2010-1055.pdf">AHPS</a>	   
</p>
</div>


</body>
<script>
  var myAlpha = <%- myAlpha %>;
  var picCode = <%- picCode %>;
</script>
<script type="text/javascript" src="colorramp.js"></script>
<script type="text/javascript" src="map.js"></script>


</hmtl>
