<html>
<head>
  <title>Buffelgrass homepage</title>
  <script src="lib/leaflet/leaflet.js"></script>
  <link rel="stylesheet" href="lib/leaflet/leaflet.css">
  <link rel="stylesheet" href="map.css">

</head>
<body>
<form action = "/historical" method = "GET">
	Transparency:<br>
  	<input type = "text" placeholder = "0.0-1.0" name = "alpha" >
  	<input type ="submit">
</form>
<form action = "/" method = "GET">
	Timeframe:<br>
  	<input type = "text" placeholder = "1,2,3,4" name = "picCode" >
  	<input type ="submit">
</form>

<div id="map1"></div>
<p>Quality-Green=Good, Red=Bad</p>
<div id ="map2"></div>


<p>Data available from the U.S. Geological Survey</p>
<a href="https://pubs.usgs.gov/of/2010/1055/pdf/OF2010-1055.pdf">EMODIS DOCS</a>

</body>
<script>
  var myAlpha = <%- myAlpha %>;
  var picCode = <%- picCode %>;
</script>
<script type="text/javascript" src="map.js"></script>


</hmtl>
