<html>
<head>
  <title>Buffelgrass NDVI Viewer Homepage</title>
  <script src="lib/leaflet/leaflet.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
   <link rel="stylesheet" href="lib/leaflet/leaflet.css">
  <link rel="stylesheet" href="map.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script
     src="https://code.jquery.com/jquery-3.3.1.js"
     integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
       crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <div id="container2">
      <div id="bodyDiv">
    <div class="container">
      <div class="page-header">
	<h3>Precipitation Legend</h3> 
      </div>
    </div>


<div id="ndvidiv">
 

  <div id = "colorRampDiv">

    <svg id="svg1" height="250" width="50"></svg>
  </div>
  <div id="scaleNumDiv">
    <p id ="scale1" class="scaleNum1"></p>
    <p id ="scale2" class="scaleNum"></p>
    <p id ="scale3" class="scaleNum"></p>
    <p id ="scale4" class="scaleNum"></p>
    <p id ="scale5" class="scaleNum"></p>
    <p id ="scale6" class="scaleNum"></p>
    <p id ="scale7" class="scaleNum"></p>
    <p id ="scale8" class="scaleNum"></p>
  </div>
</div>

</div>
</div>
</body>

<script type="text/javascript" src="precipcolorramp.js"></script>



</hmtl>
