<html>
<head>
<script
     src="https://code.jquery.com/jquery-3.3.1.js"
     integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
       crossorigin="anonymous"></script> 
</head>
  <body>
    <div class="container">
      <div class="page-header">
	<h3>Downloads</h3> 
      </div>
    </div>
    <form action = "/download" method = "GET">
 	  ndvi or qual:<br>
  	  <input type = "text" name = "ndviorqual" ><br>
  	  <br>Timeframe (1-8, see options below)<br>
  	  <input type = "text"  name = "dlnum" ><br>
	  <input type ="submit">
    </form>

	<p><u>Current</u></p>
<p id='updatedates1' class='downloadable'><strong>1.</strong>   66-72 minus 59-65      2018</p>
