<html>
<head>
  <title>Buffelgrass NDVI Viewer Homepage</title>
  <script src="lib/leaflet/leaflet.js"></script>
   <link rel="stylesheet" href="lib/leaflet/leaflet.css">
  <link rel="stylesheet" href="map.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script
     src="https://code.jquery.com/jquery-3.3.1.js"
     integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
       crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <div class="container">
      <div class="page-header">
	<h3>EMODIS NDVI Viewer</h3> 
      </div>
    </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
    <form action = "/" method = "GET">
 	  Opacity (0-1):<br>
  	  <input type = "text" name = "alpha" ><br>
  	  <br>Timeframe (1-8, see options below)<br>
  	  <input type = "text"  name = "picCode" ><br>
	  <input type ="submit">
    </form>
    </div>
    <div class="col-md-3">
      <div id = "juldayinfo">
	<p> All dates are in Day of Year format</p>
<p id='updatejulday'>Today is Day of Year 73</p>
	<P>Timeframe options(most recent first):</p>
	<p><u>Current</u></p>
